.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;

  // Modifiers

  &--column {
    flex-direction: column !important;
  }

  &--space-between {
    justify-content: space-between !important;
  }

  &--row-reverse {
    flex-direction: row-reverse !important;
  }

  &--jc-flex-start {
    justify-content: flex-start !important;
  }

  &--ai-flex-start {
    align-items: flex-start !important;
  }

  &--dp-inline-flex {
    display: inline-flex !important;
  }
}

.u-column-gap-1rem {
column-gap: 1rem;
}