<section
  class="
    c-video
    u-flex-center
    u-flex-center--column
    u-flex-center--ai-flex-start
  "
>

  <section class="c-video-stream">
    <iframe
      width="952"
      height="537"
      src="https://www.youtube.com/embed/PoP2Sa7wYNQ?list=RDPoP2Sa7wYNQ"
      title="Lost Frequencies ft. Calum Scott - Where Are You Now (Official video)"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    >
    </iframe>
  </section>

  <h1 class="c-video__title">
    Lost Frequencies ft. Calum Scott - Where Are You Now (Official video)
  </h1>

  <section
    class="
      c-video-actions
      u-flex-center
      u-flex-center--space-between
      u-flex-center--dp-inline-flex
    "
  >
  
    <div class="c-channel-infos u-flex-center">
      <img
        class="c-profile-picture"
        src="/assets/images/channel-profile.jpg"
        alt="Foto de perfil do canal"
      />
      <div class="c-channel-infos__right">
        <h2 class="c-channel-infos__name">Lost Frequencies</h2>
        <p class="c-channel-infos__subscribers">1,26 mi de inscritos</p>
      </div>
    </div>

    <button class="c-button c-video-actions__subscribe-button">
      inscreva-se
    </button>

    <div class="c-video-action u-flex-center">
      <span
        class="
          c-icon
          c-video-action__icon
          c-video-action__icon--like
        "
      >
      </span>
      <p class="c-video-action__name">2 mil</p>
    </div>

    <div class="c-video-action u-flex-center">
      <span
        class="
          c-icon
          c-video-action__icon
          c-video-action__icon--deslike
          "
        >
      </span>
      <p class="c-video-action__name">Não gostei</p>
    </div>

    <div class="c-video-action u-flex-center">
      <span
        class="
          c-icon
          c-video-action__icon
          c-video-action__icon--share
          "
        >
      </span>
      <p class="c-video-action__name">Compartilhar</p>
    </div>

    <div class="c-video-action u-flex-center">
      <span
        class="
          c-icon
          c-video-action__icon
          c-video-action__icon--download
          "
        >
      </span>
      <p class="c-video-action__name">Download</p>
    </div>
  </section>

  <section
    class="
      c-video-description
      u-flex-center
      u-flex-center--column
      u-flex-center--ai-flex-start
    "
  >
    <p class="c-video-description__date">
      150.116.244 visualizações Estreou em 18 de ago. de 2021
    </p>
    <p class="c-video-description__paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
      similique. Nemo tempora omnis a qui est explicabo voluptatem, sit,
      officiis doloribus facere ex. Iste aliquid nulla sequi repellendus
      praesentium distinctio! Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Cupiditate consectetur illo odit sint, perspiciatis cumque sed ipsam
      sunt. Quos eaque voluptate rerum molestias quis, sint odio laudantium id
      reprehenderit assumenda!
    </p>
  </section>
  
</section>
