<header
  class="
    l-header
    u-flex-center
    u-flex-center--space-between
  "
>

  <div class="l-header__left u-flex-center">
    <span 
      class="
        c-icon
        l-header__icon
        l-header__icon--menu
      "
    >
    </span>
    <a class="c-logo u-flex-center" href="#">
      <img
        class="c-logo__image"
        src="assets/images/logo.svg"
        alt="Logo do Youtube"
      />
    </a>
  </div>

  <div
    class="
      l-header__center
      u-flex-center
      u-flex-center--row-reverse
    "
  >
    <button
      class="l-header__button u-flex-center"
      type="submit"
    >
      <span
        class="
          c-icon
          l-header__icon
          l-header__icon--search
        "
      >
      </span>
    </button>
    <input 
      class="l-header__input"
      type="search"
    >
  </div>

  <div class="l-header__right u-flex-center">
    <span
        class="
          c-icon
          l-header__icon
          l-header__icon--video
        "
    >
    </span>
    <span
        class="
          c-icon
          l-header__icon
          l-header__icon--bell
        "
    >
    </span>
    <img
      class="c-profile-picture"
      src="/assets/images/profile.picture.svg"
      alt="Foto de perfil"
    >
  </div>

</header>
<!---->
<!---->
<!---->
